body {
    height: 100vmax;
    width: 100vw;
    background-color:dimgrey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.head {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
}

img {
    width: 150px;
    height: 100px;
    border-radius: 0.75rem;
}

.pic {
    width: 200px;
    height: 250px;
    border-radius: 1rem;
}

.small {
    padding-left: 2rem;
    color:aqua;
}

a {
    color:rgb(37, 58, 114);
}

a:hover {
    transform: translateY(10px);
    color:aquamarine;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.25fr 1fr; /* Two columns */
    grid-template-rows: repeat(10, 1fr);
    gap: 4px;
    width: 60%;
    margin: 0 auto;
    /* border: 1px solid rgb(32, 32, 32); */
  }
  
.grid-item {
    background-color: #7e7e7e;
    /* padding: 20px; */
    font-size: 30px;
    text-align: center;
    border-radius: 1rem;
}

.contents {
    margin-left: 4rem;
}

footer {
    margin-left: 4rem;
}

.back_button {
    margin-left: 6rem;
}

.project_overview {
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.pages {
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.team_reports {
    margin-left: 7rem;
    margin-bottom: 3rem;
}

.team_mem {
    padding-top: 0.5rem;
    margin-left: 10rem;
    margin-bottom: 3rem;
}