body {
    height: 100vmax;
    width: 100vw;
    background-color:dimgrey;
}

p {
    /* color:brown; */
}

.image_ {
   width: 300px;
   height: 200px;
}

img {
    width: 200px;
    height: 150px;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.25fr 1fr; /* Two columns */
    grid-template-rows: repeat(10, 1fr);
    gap: 4px;
    width: 60%;
    margin: 0 auto;
    /* border: 1px solid rgb(32, 32, 32); */
  }
  
  .grid-item {
    background-color: #7e7e7e;
    /* padding: 20px; */
    font-size: 30px;
    text-align: center;
  }